<div class="d-flex align-items-center justify-content-center">
  <div class="filter border-1">
    <div class="col-12 col-lg-12 bg-primary p-3 title-filter">
      <h2 class="text-center ">Filtro de busca</h2>
    </div>
    <div class="d-flex flex-lg-row flex-column-reverse px-4 py-4">
      <div class="col-lg-12 col-12">
      <form [formControlName]="filterForm" class="row" autocomplete="off">
          <div class="d-flex justify-content-between py-3 ">
            <label>
              <input type="radio" class="radio" name="example" value="Compra" />
             Compra
            </label>
            <label>
              <input type="radio" class="radio" name="example" value="Aluguel"/>
             Aluguel
            </label>
            <label>
              <input type="radio" class="radio" name="example" value="" />
              Todos
            </label>
          </div>
          <div class="col-12 col-lg-12 mb-3">
            <label class="">Cidade</label>
            <select formControlName="cidade" [(ngModel)]="model.cidade" class="chevron-down form-control">
              <option disabled selected hidden value="undefined">Selecione</option>
              <option *ngFor="let item of dataFilter.cityOperation">{{item}}</option>
            </select>
          </div>
          <div class="col-12 col-lg-12">
            <label class="">Tipo de Propriedade</label>
            <select formControlName="tipoPropriedade" [(ngModel)]="model.tipoPropriedade" class="chevron-down form-control">
              <option disabled selected hidden value="undefined"> Selecione</option>
              <option *ngFor="let item of dataFilter.typeImmobile">{{item}}</option>
            </select>
          </div>
          <div class="col-12 col-lg-12 my-3">
            <label class="">Quartos</label>
            <select formControlName="quartos" [(ngModel)]="model.quartos" class="chevron-down form-control">
              <option disabled selected hidden value="undefined">Selecione </option>
              <option *ngFor="let item of dataFilter.bedroom">{{item}}</option>
            </select>
          </div>
          <div class="col-12 col-lg-12 d-flex">
            <div class="col-lg-6">
              <label class="">Banheiros</label>
              <select formControlName="banheiros" [(ngModel)]="model.banheiros" class="chevron-down form-control">
                <option disabled selected hidden value="undefined">Selecione</option>
                <option *ngFor="let item of dataFilter.bathroom">{{item}}</option>
              </select>
            </div>
            <div class="col-lg-6 ps-3">
              <label class="">Garagem</label>
              <select formControlName="garagem" [(ngModel)]="model.garagem" class="chevron-down form-control" >
                <option disabled selected hidden value="undefined">Selecione</option>
                <option *ngFor="let item of dataFilter.garage">{{item}}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-12 mt-3">
            <p class="text-center fs-5" formControlName="valor" [(ngModel)]="model.valor">{{value | currency:'BRL'}}</p>
            <div class="d-flex justify-content-between">
              <p>R$ 600.00</p>
              <p>R$ 200,000.00</p>
            </div>
            <input type="range">
            <ngx-slider [(value)]="value" [options]="options"></ngx-slider>
          </div>
          <div class="col-lg-12 d-flex justify-content-between">
         
            <button class=" btn col-lg-12 btn-filter mt-4 mb-1" type="button" (click)="filtrar()">
              Filtrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
