

$min-heigh-card: 419px;
$max-width-card: 320px;
$heigh-card: 268px;
$width-card: 100%;


.card-product {
  max-width: $max-width-card;
  min-height: $min-heigh-card;
  border-radius: 1rem;
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;

  &__header {
    height: $heigh-card;
    width: $width-card;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }


  &__carrousel{
    height: $heigh-card;
    width: $width-card;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  &__img {
    height: $heigh-card;
    width: $width-card;
    display: block;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  &__content {
    min-height: 156px;
    max-width: 301px;
  }

  &__title {
    font-size: 20px;
  }

  &__icons {
    font-size: 1.125rem;
  }

  &__tag {
    width: 8.75rem;
    height: 3rem;
    font-size: 1.25rem;
    border-top-left-radius: 1rem 1rem;
    border-bottom-right-radius:  1rem 1rem;
    z-index: 2;
  }
}



.btn-product {
  background: white;
  width: 143px;
  font-size: 20px;
  border-radius: 1rem;
}




