.active-border {
    border-bottom: 2px solid white;
}
.active-border:hover {
    border-bottom: 4px solid white;
}

.button-active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0px;
    background-color: #454545;
    text-align: center;
}

@media screen and (min-width: 992px) {
    .button-active {
        top: 0;
        padding: 0.5rem;
    }
}