
<nav class="navbar navbar-light bg-secondary fixed-top">
   <h1 class="text-white-50 ms-2">Logo do Site</h1>
      <div class="bg-secondary py-2">
         <div class="d-flex justify-content-end me-5">
            <a routerLink="" class="nav-link fs-5 text-white active-border pb-0">Início</a>
            <a routerLink="/anunciar" class="nav-link fs-5 text-white" >Anunciar</a>
            <a routerLink="/locacao" class="nav-link fs-5 text-white" >Locação</a>
            <a routerLink="/vendas" class="nav-link fs-5 text-white" >Vendas</a>
            <a routerLink="/contato" class="nav-link fs-5 text-white" >Contato</a>
         </div>
      </div>
</nav>

