@import 'variables';

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

/// Base
body{
    background-color: $bg-default;
}

.border {
  &-1 {
    border-radius: 1rem !important;
  }
  &-2 {
    border-radius: 2rem !important;
  }
  &-3 {
    border-radius: 3rem !important;
  }
}
// Base

.toolbar-size{
  height: 5rem;
}

.bg-toolbar{
    background-color: $bg-toolbar;
}
.bg-footer{
    background-color: $bg-footer;
}

.title-filter{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.filter{
  max-width: 22rem;
  min-height: 32rem;
  background-color: $secondary;
  color: $white;
}

.btn-filter{
  color: $white;
  background-color: $primary;
}

.chevron-down{
  position: relative;
  background: url(../../assets/svg/chevron-down.svg);
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: 98%;
  background-color: $white;
}

.ngx-slider-limit,
.ngx-slider-model-value, 
.ngx-slider-model-high,
.ngx-slider .ngx-slider-bubble{
  display: none !important;
}

.ngx-slider .ngx-slider-selection{
  background-color: $primary !important;
}

.ngx-slider .ngx-slider-pointer:after{
  background: none !important;
}
.ngx-slider .ngx-slider-pointer {
  width: 1.5rem !important;
  height: 1.5rem !important;
  top: -0.7rem !important;
  background-color: $primary !important;
  border-radius: 2rem !important;
}



.ngx-pagination {
  padding-left: 0px !important;
  margin-top: 20px !important;
}
.ngx-pagination .current, .btn-info {
  background: $primary !important;
  border: transparent !important;
  border-radius: 1rem !important;
  font-size: 1rem !important;
}

.ngx-pagination .current:hover {
  background: #8f0909 !important;
  border-radius: 1rem !important;
  border: transparent !important;
}
.footer {
  min-height: 27.875rem;
  &__title {
    font-size: 1.5rem;
  }
  &__divider {
    width: 20%;
    height: 4px;
  }
}

.news__header {
  width: 4.0625rem;
  height: 4.0625rem;
}
.news__img {
  width: 100%;
  height: 100%;
}

.divider {
  width: 100%;
  height: 1px;
}

.container-bg {
  width: 1200px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 3px solid $white;
    border-radius: 100%;
    background: $secondary;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: $white;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

// Filtro label
.form-group {
  & > label {
    min-width: 99%;
    bottom: 34px;
    position: relative;
    background-color: $secondary;
    padding: 0px 6px;
    font-size: 1.1em;
    transition: 0.2s;
    pointer-events: none;
    margin: 0 5px;
    border-radius: 0;
  }
  .input-icon {
    padding-left: 20px;
    background: url(../../assets/svg/chevron-down.svg);
    position: absolute !important;
    z-index: 1;
    right: 1rem;
    margin: -1.8rem auto;
    width: 1.5rem;
    height: 100%;
  }
}
.form-control {
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  background-color: $secondary;
  color: white;
  &.ng-touched {
    border-color: $white;
    & ~ label {
      font-size: 0.9em;
      bottom: 56px;
    }
    &:focus {
      border-color: white;
      box-shadow: none;
    }
  }
  &.ng-invalid.ng-touched {
    background-position: right calc(1.5rem + 0.1875rem) center;
    & ~ label {
      color: white;
      background-color: aquamarine;
    }
    &:focus {
      box-shadow: none;
    }
  }
  &:focus {
    background-color: $secondary;
    color: white;
    box-shadow: none;
    & ~ label {
      min-width: 5%;
      bottom: 55px;
      font-size: 0.9em;
    }
  }
  &:disabled {
    ~ {
      label {
        background-color: inherit;
      }
    }
  }
}