@import 'variables';

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

/// Base
body{
    background-color: $bg-default;
}

.border {
  &-1 {
    border-radius: 1rem !important;
  }
  &-2 {
    border-radius: 2rem !important;
  }
  &-3 {
    border-radius: 3rem !important;
  }
}
// Base


.bg-toolbar{
    background-color: $bg-toolbar;
}


.bg-footer{
    background-color: $bg-footer;
}

.title-filter{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.filter{
  max-width: 22rem;
  min-height: 32rem;
  background-color: $secondary;
  color: $white;
  

}

.btn-filter{
  color: $white;
  background-color: $primary;
}

.chevron-down{
  position: relative;
  background: url(../../assets/svg/chevron-down.svg);
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: 98%;
  background-color: $white;
}

.ngx-slider-limit, .ngx-slider-model-value{
  display: none !important;
}

.ngx-slider-bar{
  background-color: $primary !important;
}

.ngx-slider .ngx-slider-pointer {
  width: 1.5rem !important;
  height: 1.5rem !important;
  top: -0.7rem !important;
  background-color: $primary !important;
  border-radius: 2rem !important;
}

.ngx-slider-pointer:hover:after {
 visibility: hidden !important;
}

.ngx-pagination {
  padding-left: 0px !important;
  margin-top: 20px !important;
}
.ngx-pagination .current, .btn-info {
  background: $primary !important;
  border: transparent !important;
  border-radius: 1rem !important;
  font-size: 1rem !important;
}

.ngx-pagination .current:hover {
  background: #8f0909 !important;
  border-radius: 1rem !important;
  border: transparent !important;
}
.footer {
  min-height: 27.875rem;
  &__title {
    font-size: 1.5rem;
  }
  &__divider {
    width: 20%;
    height: 4px;
  }
}

.news__header {
  width: 4.0625rem;
  height: 4.0625rem;
}
.news__img {
  width: 100%;
  height: 100%;
}

.divider {
  width: 100%;
  height: 1px;
}

.container-bg {
  width: 1200px;
}
